<ul >
  <li ><a href="index.html" >HOME</a></li>
  <li><a href="work.html" class="black" > WORK</a></li>
  <li><a href="about.html" class="black1"> ABOUT</a></li>
  <li><a href="blog.html" class="black2" > BLOG</a></li>
  <li  class="active"><a href="404.html" class="black3" > SERVICES</a></li>
  <li><a href="contact.html" class="black4" > CONTACT</a></li>
</ul>